/**************************/
/* GENERAL  SETTING */
/**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 10px  / 16px  * 100  = 62.5% */
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

/**************************/
/* STYLES */
/**************************/
h1 {
  color: #f65058ff;
  font-size: 10rem;
  text-align: center;
  opacity: 0.5;
}

form {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  width: 40rem;
}

input {
  border: none;
  color: rgb(45, 57, 83);
  font-size: 3.2rem;
  padding: 1.6rem 3.2rem;
  display: block;
  width: 100%;
}

input::placeholder {
  color: #d5d5d5;
}

input:focus {
  outline-color: #edc2d8ff;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
}

.todos li {
  font-size: 2.4rem;
  cursor: pointer;
  border-top: 1px solid #e5e5e5;
  padding: 1.6rem 2.4rem;
}

.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  color: #b5b5b5;
}
/**************************/
/* GENERAL  COMPONENT STYLES */
/**************************/
.container {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
  font-family: 'Inter', sans-serif; 400 600 700 900

- Body 
- Font size (paragraph): 16px

- Font weights
Default: 400
Medium: 600
Semi-bold: 700
very-Bold: 900

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;

### Accent
-none

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)

*/ ;
