@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

/**************************/
/* GENERAL  SETTING */
/**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 10px  / 16px  * 100  = 62.5% */
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(247, 247, 247, 1),
    rgba(252, 221, 221, 1) 92%
  );
}

/**************************/
/* STYLES */
/**************************/
.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  position: relative;
  padding: 2rem 3rem;
  margin: 10rem 0;
}

.img-container {
  position: relative;
  width: 6rem;
}

.img-cover {
  border-radius: 50%;
  object-fit: cover;
  height: 6rem;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-cover {
  animation-play-state: running;
}

.navigation {
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cta__btn {
  background-color: #fff;
  border: 0;
  color: #dfdfdf;
  font-size: 2rem;
  cursor: pointer;
  padding: 0rem;
  padding-left: 4rem;
  margin: 0 2rem;
}

.cta__btn:focus {
  outline: none;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  transform: translateY(0%);
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
}
.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1s linear;
}

/**************************/
/* ANIMATION STYLES */
/**************************/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**************************/
/* GENERAL  COMPONENT STYLES */
/**************************/
.container {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
  font-family: 'Inter', sans-serif; 400 600 700 900

- Body 
- Font size (paragraph): 16px

- Font weights
Default: 400
Medium: 600
Semi-bold: 700
very-Bold: 900

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;

### Accent
-none

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)

*/ ;
